* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr 1fr;
  background-color: #2b7443;
}

img {
  margin: 0;
  height: auto;
  width: 100%;
  overflow: hidden;
}

.logo {
  width: 100%;
  grid-column: 1 / -1;
}

ul {
  margin: 0;
  text-align: center;
}

li {
  display: inline-block;
  text-align: center;
}
