* {
  margin: 5px;
  box-sizing: border-box;
}

body {
  height: 95vh;
  background: #34e7e4;
  font-family: sans-serif;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
}

header {
  border-radius: 8px;
  background: #ffffff;
  padding: 2em 0 2em 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.main {
  display: flex;
  flex: 1;
}

.left {
  margin: 0;
  border-radius: 8px;
  text-transform: uppercase;
  color: #000;
  background: #fff;
  padding: 1em 0 1em 0;
  flex: 1 1 100px;
  display: flex;
  flex-direction: column;
}

main {
  background: #fff;
  padding: 3em 0 3em 0;
  flex: 5 5 150px;
}

.right {
  background: #3c40c6;
  padding: 3em 0 3em 0;
}

footer {
  background: #3c40c6;
  padding: 1em 0 1em 0;
}

/* OBSAH */

p {
  text-decoration: none;
}

h1 {
  color: #3b3b3b;
  font-family: "Inter", sans-serif;
}

h3 {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

.match-date {
  font-size: 1rem;
}

.match-score {
  text-decoration: none;
  font-size: 1.1rem;
}

.player {
  font-size: 1rem;
}

.match {
  padding: 15px;
  background-color: #77d6f9;
  border-radius: 5px;
}

/* MEDIA QUERY */

@media all and (max-width: 550px) {
  .main {
    flex-direction: column;
  }

  main {
    padding: 5em 0 5em 0;
  }
}
