* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  display: inline-block;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 300px;
  align-items: center;
}

header {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  justify-items: center;
  align-items: center;
}
