* {
  margin: 5px;
  box-sizing: border-box;
}

body {
  height: 95vh;
  background: #34e7e4;
  font-family: sans-serif;
  text-align: center;
  color: white;
  font-size: 24px;
  display: flex;
  flex-direction: column;
}

header {
  background: #ffffff;
  padding: 2em 0 2em 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.main {
  display: flex;
  flex: 1;
}

.left {
  text-transform: uppercase;
  color: #000;
  background: #fff;
  padding: 3em 0 3em 0;
  flex: 1 1 100px;
  text-decoration: underline;
}

main {
  background: #3c40c6;
  padding: 3em 0 3em 0;
  flex: 5 5 150px;
}

.right {
  background: #3c40c6;
  padding: 3em 0 3em 0;
}

footer {
  background: #3c40c6;
  padding: 1em 0 1em 0;
}

/* OBSAH */

p {
  text-decoration: none;
}

h1 {
  color: #3b3b3b;
  font-family: "Inter", sans-serif;
}

h3 {
  text-decoration: none;
}

.match-date {
  text-decoration: none;
}

.match-score {
  text-decoration: none;
}

/* MEDIA QUERY */

@media all and (max-width: 550px) {
  .main {
    flex-direction: column;
  }

  main {
    padding: 5em 0 5em 0;
  }
}
