* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 40px;
}

.header {
  background-color: #038c2a;
}

.main {
  background-color: #d7710c;
}

.footer {
  background-color: #010314;
}

.container {
  display: grid;
  grid-gap: 0;
  grid-template-columns: 2fr 1fr;
  background-color: #fff;
  color: #444;
}
